<!DOCTYPE html>
<html>
<head>
  <title>The State of Choice</title>
  <meta charset="UTF-8">
  <meta content="utf-8" http-equiv="encoding">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "bootstrap", property: :stylesheet %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" data-ui-sref="index">The State of Choice</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a data-ui-sref="index">States<span class="sr-only">(current)</span></a></li>
          <li><a data-ui-sref="postIndex">Our Stories</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
  <div data-ng-app="abortion">
    <main data-ui-view></main>
  </div>

  <script>
  $.getJSON("/states.json", function(response){
  states = {}
  for (var i = 0; i < response.length; i++){
  states[response[i].state_id] = response[i]
}
console.log(states)
})
</script>

</body>
</html>
